/* From Uiverse.io by garerim */ 
.container-input {
  position: relative;
}

.input {
  width: 250px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #02020236;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 350px;
}

.heading{
    color: var(--primary-400);
    text-decoration: underline;
    margin-top: 10px;
}

.logo{
  height: 60px;
  width: 60px;
}